{% extends "base.html" %}
{% load i18n %}
{% block title%}
project
{% endblock title %}
{% block stylesheets %}
{{ block.super}}
{% endblock stylesheets %}
{% block body %}
<header>
    {% block header %}
    {% include 'header.html' %}
    {% endblock header %}

</header>
{% block content %}
<p>helllo</p>
{% endblock content %}

<footer>
    {% block footer %}
    {% include 'footer.html' %}
    {% endblock footer %}
</footer>

{% block javascript %}

{% endblock javascript %}
{% endblock body %}
